:root {
	--hover-color: rgba(250, 74, 12, 1);
	--navigation-text-color: rgba(37, 43, 66, 1);
	--hero-subtitle-color: rgba(246, 246, 246, 1);
	--hero-title-color: rgba(255, 255, 255, 1);
	--titles-color: rgba(0, 0, 0, 1);
	--app-description: rgba(115, 115, 115, 1);
	--footer-description-color: rgba(92, 92, 92, 1);
	--first-font: 'Montserrat', sans-serif;
	--second-font: 'Poppins', sans-serif;
	--third-font: 'Roboto', sans-serif;
	--hero-bg-color: rgba(23, 16, 16, 0.6);
	--order-bg-color: rgba(37, 43, 66, 0.4);
}

.title,
.subtitle {
	font-weight: 700;
}

.subtitle {
	font-size: 24px;
}

.description {
	font-weight: 500;
	font-size: 24px;
}

* {
	box-sizing: border-box;
	text-decoration: none;
}

body {
	letter-spacing: 0.1px;
	line-height: 36px;
	font-family: var(--first-font);
	font-weight: 700;
}

.container {
	width: 1210px;
	margin: 0 auto;
}

.header {
	padding-bottom: 42px;
	background-color: var(--hero-title-color);
	padding-top: 50px;
}

.header-container {
	align-items: center;
	justify-content: space-between;
	display: flex;
}

.navigation-list {
	display: flex;
	gap: 94px;
}

.navigation-link:hover {
	color: var(--hover-color);
}

.navigation-link {
	display: inline-block;
	font-weight: 600;
	letter-spacing: 0.2px;
	color: var(--navigation-text-color);
	padding: 10px;
	line-height: 28px;
	font-size: 16px;
}
.hero {
	padding-top: 78px;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('../images/hero-background.png');
	background-position: center;
	padding-bottom: 164px;
	text-align: center;
}

.hero-subtitle {
	color: var(--hero-subtitle-color);
	padding-bottom: 10px;
}

.hero-title {
	font-size: 58px;
	margin: 0 auto;
	line-height: 80px;
	font-family: var(--second-font);
	color: var(--hero-title-color);
	padding-bottom: 10px;
	letter-spacing: 0.2px;
}

.hero-description {
	padding-bottom: 54px;
	color: var(--hero-subtitle-color);
	font-weight: 500;
	line-height: 38px;
	letter-spacing: 0.2px;
}

.hero-list {
	display: flex;
	gap: 67px;
	justify-content: center;
}

.hero-button {
	display: inline-block;
	font-size: 24px;
	color: var(--hero-title-color);
	border-radius: 30px;
	border: 1px solid var(--hover-color);
	background-color: var(--hover-color);
	font-weight: 700;
	padding: 15px 58px 15px 73px;
}

.second-hero-button {
	border-width: 1px;
	padding: 15px 82;
	background-color: transparent;
	border-color: var(--hero-title-color);
	border-style: solid;
}

.app {
	padding-top: 56px;
	padding-bottom: 190px;
}

.app-list {
	flex-wrap: wrap;
	padding-left: 84px;
	display: flex;
	gap: 108px;
	padding-right: 71px;
}

.app-item {
	display: flex;
	gap: 287px;
	align-items: center;
	justify-content: space-between;
}

.app-item:nth-child(1) {
	padding-bottom: 109px;
}

.app-item:nth-child(2) {
	flex-direction: row-reverse;
}

.app-title {
	letter-spacing: 0.2px;
	color: var(--text-color);
	line-height: 57px;
	font-size: 40px;
	padding-bottom: 17px;
	color: var(--titles-color);
}

.app-subtitle {
	color: var(--hover-color);
	padding-bottom: 7px;
}

.app-item-title {
	color: var(--navigation-text-color);
	line-height: 57px;
	letter-spacing: 0.2px;
	padding-bottom: 17px;
	font-size: 40px;
}

.app-description {
	font-weight: 500;
	color: var(--app-description);
	letter-spacing: 0.2px;
	line-height: 38px;
}

.shop {
	background-position: center;
	background: url('../images/shop-background.png') center/cover no-repeat;
	padding: 141px 0 130px;
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.shop-title {
	color: var(--hero-title-color);
	letter-spacing: 0.2px;
	padding-bottom: 20px;
	line-height: 57px;
	font-size: 40px;
}

.shop-description {
	color: var(--hero-title-color);
	padding-bottom: 60px;
	line-height: 38px;
	font-weight: 500;
	letter-spacing: 0.2px;
}

.shop-list {
	display: flex;
	justify-content: center;
	gap: 16px;
}

.shop-button {
	border-radius: 10px;
	color: var(--hero-title-color);
	display: inline-block;
	border: 1px solid var(--hover-color);
	padding: 16px 31px;
	line-height: 28px;
	font-size: 16px;
	letter-spacing: 0.2px;
	background-color: var(--hover-color);
}

.shop-button-right {
	border: 1px solid var(--hero-title-color);
	padding: 16px 45px;
	background-color: transparent;
}

.footer {
	padding: 115px 0 58px;
}

.footer-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer-description {
	font-size: 12px;
	line-height: 18px;
	color: var(--footer-description-color);
	font-family: var(--third-font);
}
